<config><stunserver><address>stun.xten.net</address><port>3478</port></stunserver><localhost><address>192.168.1.168</address><port>5066</port></localhost><sipproxy><address>proxy01.sipphone.com</address><port>5060</port></sipproxy><dispositivo><address>vfw:Microsoft WDM Image Capture (Win32):0</address><compresion>JPEG_RTP</compresion><factor>0.2</factor></dispositivo><usuario><nombre>17476548663</nombre><password>Lg++hUtTCUM=</password></usuario></config>
